page-home {
    .cardStyle {
        img {
            height: 20rem;
        }
    }

    .escllipse {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
